/* Desktop 1440px = 1440 / 16 = 90 */
@media (max-width: 90em) {
  html {
    font-size: 62.5%;
  }
}
/* Laptop below 1365px = 1365 / 16 = 85.31 */
@media (max-width: 85.31em) {
  html {
    font-size: 62.5%;
  }
}
/* Landscape Tablet below 1180px =  1180 / 16 = 73.75 */
@media (max-width: 73.75em) {
  html {
    font-size: 62.5%;
  }
}
/* Tablets below 944px = 944 / 16 = 59 */
@media (max-width: 59em) {
  html {
    font-size: 56.25%;
  }
}
/* Below  600px = 600 / 16 = 37.5 */
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .nav {
    padding: 0 1rem;
  }
  .features {
    margin: 0;
  }
  h1 {
    font-size: 3.5rem;
  }
  .nav.sticky {
    padding: 0 4.5rem;
  }
  .btn {
    padding: 1rem 2.5rem;
  }
  .nav__logo {
    height: 3.5rem;
  }
}
/* Below 450px = 450 / 16 = 28.12 */
@media (max-width: 28.1em) {
  html {
    font-size: 43.75%;
  }
  h1 {
    font-size: 3rem;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.5rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .nav__logo {
    height: 3rem;
  }
}
